<div class="button1">
    <a href="">
        <img src="assets/images/webrings/pekochan.gif" alt="">
    </a>
    <a href="">
        <img src="assets/images/webrings/ia.gif" alt="">
    </a>
    <a href="">
        <img src="assets/images/webrings/hellokitty.gif" alt="">
    </a>
    <a href="">
        <img src="assets/images/webrings/sega_online.gif" alt="">
    </a>
    <a href="">
        <img src="assets/images/webrings/doom.gif" alt="">
    </a>
    <a href="">
        <b>+</b>
        more
    </a>
</div>