<div class="buttonrow">
    <a target="_blank" href="https://neocities.org/">
        <img src="/assets/images/webrings/neocities.png">
    </a>
    <img src="/assets/images/webrings/dumbass.gif">
    <img src="/assets/images/webrings/badhtml.png">
    <img src="/assets/images/webrings/mobile-unfriendly.png">
    <img src="/assets/images/webrings/bookmark.png">
    <img src="/assets/images/webrings/rss-button.gif">
    <img src="" alt="">
</div>