<ul id="contactlinks">
    <li>
        <a href="">neocities</a>
    </li>
    <li>
        <a href="">letterbox</a>
    </li>
    <li>
        <a href="">last.fm</a>
    </li>
    <li>
        <a href="">roteyourmusic</a>
        <br>
        or. . .
    </li>
</ul>