<div id="gamer-ring">
    <table>
        <tbody>
                <tr>
                    <td class="webring-prev">
                        <a href="">⮘</a>
                    </td>
                    <td class="webring-info">
                        <div class="gamerringtext no-wrap">
                            GAME
                            <span class="r">R</span>
                            ING
                        </div>
                        <span class="sub">The Gamer's Webring</span>
                        <br>
                        <a href="">
                            <img src="assets/images/webrings/gamer-ring/minimal.png">
                        </a>
                        <br>
                        <span class="webring-links">random</span>
                    </td>
                    <td class="webring-next">
                        <a href="">⮚</a>
                    </td>
                </tr>
        </tbody>
    </table>
</div>