<div class="featuredheader">
    <div>
        <i>featured game</i>
    </div>
    <div>
        <a id="left-featured-game">⇦</a>
        <a id="right-featured-game">⇨</a>
    </div>
</div>
<div class="gameinfocontainer">
    <div style="display:flex; flex-direction:row; z-index:0;">
        <img id="featuredscreenshot" class="blackoutline" class="blackoutline" src="/assets/images/gameinfopics/id.png" width="200px">
        <div>
            <ul style="padding:0; margin:0; margin-left:10px;">
                <small id="featureddeveloper">
                    ◼ Kairosoft, 1996
                    <br>
                    ◼ mgm / legendary kusoge
                </small>
            </ul>
            <p style="padding:0; margin:5px 0 1px 5px; text-align:left; color:white; font-family:MS UI gothic;">
                <span class="no-wrap">
                    ☆★
                    <b>
                        <i id="featuredtitle">Honya Monogatari</i>
                    </b>
                </span>
            </p>
            <div style="display:flex; flex-direction:row; align-items:flex-end; z-index:2; position:absolute; right:0; ">
                <div>
                    <img src="/assets/images/gameinfopics/anitaanim.gif">
                </div>
                <div style="position:relative;">
                    <img src="/assets/images/gameinfopics/speechbub.png">
                    <p id="featureddescription">
                        The second part to the Refixion CD-ROM series by Synergy. A virtual portfolio of early CGI and real-life FMV, blending industrial hardsurface models and organic shapes with a surreal atmosphere on top. Is it a museum, or a hospital?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>