    <div class="sidecont2" id="gameracam">
        <ul>
            <li>
                gamera
                <br>
                cam
            </li>
        </ul>
        <div class="sideboxR">
            <img class="gameracamborder" src="assets/images/gifs/gameracam.gif">
        </div>
    </div>