<div class="featuredheader">
    <div>
        <i>featured game</i>
    </div>
    <div>
        <a onclick="">⇦</a>
        <a onclick="">⇨</a>
    </div>
</div>
<div class="gameinfocontainer"></div>