<div id="guestbook-container">
    <a class="guestbook" target="_blank" href="">
        <div class="guestbook">
            <p>
                <strong>
                    <b>SIGN MY GUESTBOOK, NO!</b>
                </strong>
            </p>
        </div>
    </a>
    <p id="lastupdate">★☆★☆UPDTD20260616</p>
    <hr class="divider3">
</div>