<ul class="menu">
    <li>
        {% if page.url == "/blog/" %}
            <b style="color:white;">blog</b>
        {% else %}
            <a href="/blog/">blog</a>
        {% endif %}
    </li>
</ul>