<ul id="menu">
    <li>
        <div class="no-wrap">navigation. . .</div>
    </li>
</ul>
<ul class="menu">
    <li>
        {% if page.url == "/" %}
            <b style="color:white;">home</b>
        {% else %}
            <a href="/">home</a>
        {% endif %}
    </li>
    <li>
        {% if page.url == "/about/" %}
            <b style="color:white;">about</b>
        {% else %}
            <a href="/about/">about</a>
        {% endif %}
    </li>
    <li>
        <a href="">links</a>
    </li>
</ul>