<ul id="gameraradio">
    <li>
        <div id="onlinenow" class="no-wrap">
            <b>
                <span id="power-symbol">⏻</span>
                ONLINE
            </b>
        </div>
        gamera
        <div id="livenow" class="no-wrap"></div>
        radio
        <span id="arrow-decoration"></span>
    </li>
</ul>
<div id="radioplaying" class="radio-container">
    <div class="marquee no-wrap">
        <i>
            <a id="tracktitle" href="https://soundcloud.com/zankyou-no-terror/is-feat-pop-etc?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" target="_blank">hannah (feat. Hanna Berglind)</a>
        </i>
    </div>
</div>