.homecontainer {
    display:flex;
    width:650px;
    margin:auto;
    justify-content:space-around;
}

.leftcont {
    width:375px;
    margin:0;
}

.welcome {
    font-family:Georgia;
    text-align:right;
    margin-top:50px;
}