.sticker1 {
    position:relative;
    top:-35px;
    left:-75px;
    z-index:1;
}

.sticker2 {
    position:relative;
    top:-35px;
    left:-95px;
    -webkit-transform:scaleX(-1);
    z-index:1;
}

.sticker1 img, .sticker2 img {
    width:80%;
}

.sticker1 img:hover, .sticker2 img:hover {
    -webkit-transform:scaleX(-1);
}