<table class="statuscafe">
    <tbody>
        <tr style="background:hotpink; color:white;">
            <td>
                <i>
                    Anita☆ says...
                </i>
            </td>
        </tr>
        <tr class="statuscafe-content">
            <td>
                <img src="/assets/images/gifs/bub.gif" alt="">
                <p>
                    <span id="statuscafe-username">[20260625]</span>
                    <span id="statuscafe-content">
                        i want to stream whatever soon...... i need to practise my 
                        public speaking....aaa
                    </span>
                </p>
            </td>
        </tr>
    </tbody>
</table>