<div class="floatingtodo">
    <span class="nowrap">
        <b>to-do</b>
    </span>
</div>
<div class="scrollerhome" style="height:200px; margin-top:25px;">
    <p align="left">
        <b style="color: white">☆</b>
        create detailed GAMELIST stats
        <br>
        <br>
        <b style="color: white">☆</b>
        do -better- blog index
        <br>
        <br>
        <b style="color: white">☆</b>
        <strike>do blog index</strike>
    </p>
</div>