<div class="floatingupdt">
    <b>updates</b>
</div>
<div class="scrollerhome" style="height:375px;">
    <p align="left">
        <img src="/assets/images/gifs/new.gif">
        <b style="color:white;">20260616:</b>
        new
        <a href="/home">GAMELOG</a>
        entries -
        <i>Gradius</i>
        ,
        <i>Stardew Valley</i>
        ,
        <i>H9:ORIGIN</i>
        ,
        <i>Xevious</i>
    </p>
</div>