<div class="welcome2">
    Hi this is
    <b>Anita☆</b>
    's personal webspace.
    <br>
    <br>
    I hope that you can have a good time at
    <b>GAMERA</b>
    :here you will mostly find bad (read: good) videogame takes and
    personal ramblings by some random dumbass girl! Updated regularly.
    Don't leave without signing the
    <a target="_blank" href="https://gamera.atabook.org">guestbook</a>
    first, or I'll get sad.
    <br>
    <br>
    This website is not mobile friendly, and will never be. It is also
    not intended for children - go do
    <a target="_blank" href="https://sites.rhizome.org/theresa-duncan-cdroms/emulators">something useful with your
        time</a>
    instead!
    <br>
    <br>
    And remember
    <b>GAMERA</b>
    is a Forever Work In Progress...
</div>