.guestbook {
    background-color:white;
    font-size:7pt;
    color:black;
    letter-spacing:0.05em;
    font-family: Consolas;
    max-height:15px;
    min-height:15px;
    text-decoration:none;
    text-align:center;
    position:relative;
}

#lastupdate {
    color:white;
    text-align:left;
    font-size:9.3pt;
    margin-top:-1px;
    padding-bottom:2px;
}

.divider3 {
    border:0;
    margin:0 0 5px 0;
    clear:both;
    display:block;
    width:100%;
    text-align:right;
    border-top: 3px solid var(--base-border-main-and-hr-color);
}

#guestbook-container hr {
    margin-top:-15px;
}