---
title: blog
layout: layouts/base.njk
---
{% include 'components/buttonrow.njk' %}
<div class="homecontainer">
    <div class="leftcont">
        {% include 'components/game_carousel.njk' %}
        <h3 class="welcome">
            Welcome to the Gamera world
            <br>
            You are Visitor #
            <span id="hitcount"></span>
            ☺☻
        </h3>
        {% include 'pages/home/welcome2.njk' %}
        {% include 'pages/home/statuscafe.njk' %}
    </div>
    <div class="rightcont">
        {% include 'pages/home/updates.njk' %}
        {% include 'pages/home/to_do.njk' %}
    </div>
</div>