---
title: blog
layout: layouts/base.njk
---
{% include 'components/buttonrow.njk' %}
<div class="homecontainer">
    <div class="leftcont">
        {% include 'components/game_carousel.njk' %}
    </div>
    <div class="rightcont">

    </div>
</div>