<div class="sidecont">
    <!-- 
    - radio
    - radioplaying
    - ul menu
    - ul menu
    - ul menu
    - ul menu
    - guestbook
    - ring buttons
    
    
    -->
    {% include 'components/radio.njk' %}
    {% include 'components/menu_1.njk' %}
    {% include 'components/menu_2.njk' %}
    {% include 'components/menu_3.njk' %}
    {% include 'components/guestbook_sidecont.njk' %}
    {% include 'components/button1.njk' %}
</div>