<div class="sidecont">
    <!-- 
    - radio
    - radioplaying
    - ul menu
    - ul menu
    - ul menu
    - ul menu
    - guestbook
    - ring buttons
    
    
    -->
    {% include 'components/radio.njk' %}
    <ul>
        <li>
            <p>Hello world</p>
        </li>
    </ul>
</div>