<div class="sidecont">
    {% include 'components/gamera_cam.njk' %}
    {% include 'components/findme_menu.njk' %}
    {% include 'components/contactlinks_menu.njk' %}
    {% include 'components/sendemail.njk' %}
    {% include 'components/divider1.njk' %}
    <div class="sticker1"></div>
    <div class="sticker2"></div>
</div>