<div class="sidecont">
    {% include 'components/gamera_cam.njk' %}
    <div class="sidecont2" id="findme"></div>
    <ul id="contactlinks"></ul>
    <p class="sendemail"></p>
    <hr class="divider1">
    <div class="sticker1"></div>
    <div class="sticker2"></div>
</div>